#image{
    display: block;
    max-width: 100%;
    height: auto;
  justify-content: center;
    align-items: center;
    }
  #tribute-link{
    display: flex;
    justify-content: center;
    align-items: center;
  }